.cajaimagen {
  width: 100%;
/*  background: #E5E2E2; */
/*  border-radius: 20px 20px 20px 20px; */
/*  box-shadow: 5px 5px 4px #555; */
/*  margin-top: 20px; */
  text-align: center;
   }
  .imgteaser { /* es el bloque general */
    margin: 0 auto; /* lo centramos */
    overflow: hidden;
    position: relative;
    width:300px; /* establecemos el ancho total (imagen + marco) */
	display: inline-block;
  }
  .imgteaser a {text-decoration: none;padding-left:10px;}
  .imgteaser a:hover {cursor: pointer;}
  .imgteaser a img { /* la imagen en si misma */
    background-color: #456; /* el color del marco */
    border: none;
    margin: 0;
    width: 260px; /* forzamos el tamaño de la imagen */
  }
  .imgteaser a .more { /* es el área traslúcida del nombre */
    background-color: #123;  /* color de fondo */
    /* las propiedades del texto */
    color: #FFF;
    font-size: 22px;
    padding: 5px 10px;
    /* transparencia */
    filter:alpha(opacity=85); /* IE genérico */
    opacity:.85; /* Firefox */
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=85)'; /* IE8 */
    /* posicionamos ese texto abajo y a la izquierda sin importar la altura de la imagen */
    position: absolute;
    bottom: 5px;
    right: 0px;
  }
  .imgteaser a .desc {display: none;}
  .imgteaser a:hover .more {visibility: hidden;}
  .imgteaser a:hover .desc { /* es el texto del caption en si mismo */
    background-color:#6EA046; /* color de fondo */
    display: block;
    margin: 0;
    width: 100%; /* ocupará el mismo ancho de la imagen */
    /* las propiedades del texto */
    color: #FFF;
    font-size: 12px;
    padding:  10px 20px 10px 10px;
    /* transparencia */
    filter:alpha(opacity=95);
    opacity:.95;
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=95)';
    /* lo posicionamos abajo y a la derecha sin importar la altura de la imagen */
    position: absolute;
    bottom: 0px;
    left: 10px;
  }
  .imgteaser a:hover .desc strong { /* el texto LEER MAS */
    display: block;
    font-size: 14px;
    line-height: 2em;
  }