<table class="table table-hover">
  <thead>
    <td width= "50%"><h4>OCT 1</h4></td>
    <td width= "50%"><h4>OCT 2</h4></td>
  </thead>

{% if page.language == 'en' %}
  <tr>
    <td>
        <a class="btn-taller btn btn-default btn-s" href="../agenda/en-1-talleres-gobabierto.html">Open Government</a>
        <a class="btn-taller btn btn-default btn-s" href="../agenda/en-1-talleres-politica.html">Making Policy Public</a>
        <a class="btn-taller btn btn-default btn-s" href="../agenda/en-1-talleres-odi.html">Open Data 101</a>
        <a class="btn-taller btn btn-default btn-s" href="../agenda/en-1-talleres-bigquery.html">Google BigQuery for Open Data</a>
    </td>
    <td>
        <a class="btn-taller btn btn-default btn-s" href="../agenda/en-2-talleres-vivalahack.html">Viva la Hack!</a>
        <a class="btn-taller btn btn-default btn-s" href="../agenda/en-2-talleres-agendacolaborativa.html">Collaborative Agenda</a>
    </td>
  </tr>
{% else %}
  <tr>
    <td>
      <a class="btn-taller btn btn-default btn-s" href="../agenda/es-1-talleres-gobabierto.html">Plan de Gobierno Abierto</a>
      <a class="btn-taller btn btn-default btn-s" href="../agenda/es-1-talleres-politica.html">Haciendo Política Pública</a>
      <a class="btn-taller btn btn-default btn-s" href="../agenda/es-1-talleres-odi.html">ODI | Open Data 101</a>
      <a class="btn-taller btn btn-default btn-s" href="../agenda/es-1-talleres-bigquery.html">Google BigQuery para Datos Abiertos</a>
    </td>
    <td>
      <a class="btn-taller btn btn-default btn-s" href="../agenda/es-2-talleres-vivalahack.html">¡Viva la Hack!</a>
      <a class="btn-taller btn btn-default btn-s" href="../agenda/es-2-talleres-agendacolaborativa.html">Agenda Colaborativa</a>
    </td>
  </tr>
{% endif %}

</table>

