{% if page.language == 'en' %}
  {% assign venues_title = 'Venue' %}
{% else %}
  {% assign venues_title = 'Sede' %}
{% endif %}

<!-- section sedes-->
<section class="sedes">
  <div class="container">
    <div class="row">	
      <div class="titulo_sede ">{{ venues_title }}</div>
      <p class="box_sede">
      <a href="http://www.gam.cl/">
        <img src="../img/ciudadela_icon.png" alt="Octubre 1, Biblioteca de México">
        <span>SEPT 9-10</span>Centro Cultural Gabriela Mistral<span>&nbsp;</span>
        <span>Av Libertador Bernardo O'Higgins 227, Barrio Lastarria, Santiago</span><span>&nbsp;</span>
      </a>

      <!--<a href="http://www.cinetecanacional.net/">
        <img src="../img/cineteca_icon.png" alt="Octubre 2, Cineteca Nacional">
        <span>OCT 2</span>Cineteca Nacional<span>&nbsp;</span>
        <span>Av. México Coyoacán 389, Col. Xoco, México D.F.</span>
      </a> -->
      </p>
    </div>
  </div>
</section>

