---
layout: default
about: Acerca de
language: 'es'
---


<section class="intro">
  <div class="container">



    <div class="row">
      <div class="col-sm-12 col-md-12" align="center">
        <h1 class="brand">Con Datos</h1>
      </div>	
      <div class="col-sm-12 col-md-12">
        <div class="row">
            <div class="fecha">
              fechas
             </div>
        </div>
        <div class="row">
          <div class="col-sm-7 col-md-6">
          </div>
          <div class="col-sm-5 col-md-6">
          </div>
        </div>
      </div>
    </div>

    <!--<div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <iframe width="100%" height="360" src="//www.youtube.com/embed/k5svJ7U2oSA?rel=0" frameborder="0" allowfullscreen></iframe>
      </div>
      <div class="col-md-2"></div>
    </div> -->

    <div class="row">
      <div class="col-md-12 bkgd"></div> 
    </div>
	  <div class="row">
      <div class="textointro">Cierre convocatoria agenda y becas: 19 de junio</div> 
    </div>
  </div>
</section>
<a name="acercade"></a>
<!-- section expertos-->
<!--
<section class="expertos">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 bkgd">
      </div>
      <div class="col-sm-8">
        <p>ConDatos es el evento regional más importante sobre datos abiertos en América Latina y el Caribe. </p>
        <p>Expertos de academia, gobierno, empresas y organizaciones de sociedad civil podrán interactuar en pláticas, mesas redondas y 
        talleres que enriquezcan el debate en torno a los datos abiertos.</p>
        <p><a href="../acerca.html">Leer más</a></p>
      </div>

    </div>
  </div>
</section>
<a name="programa"></a>
-->



<!-- section programas-->
<!--
<section class="programas">
    <a name="programa"></a>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>Programa </h2><br>
        <div class="row">

        </div>

        <div class="row">
          <div class="col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
            <h3>SEPT 30</h3><a href="http://www.abrelatam.org/"><h4>AbreLATAM</h4></a></p>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
            <h3>OCT 1—2</h3><h4>ConDatos</h4></p>
          </div>
        </div>
      </div>
    </div>

  <div class="table">
    <table class="table-hover">
      <thead>
        <td width= "08%"><h4>Hora</h4></td>
        <td width= "46%"><h4>OCT 1</h4></td>
        <td width= "46%"><h4>OCT 2</h4></td>
      </thead>
      {% include agenda-es.html %}
    </table>

    <div class="row">
      <div class="col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
        <p><h4>Talleres</h4></p>
      </div>
      {% include talleres.html %}
    </div>

  </div>
</section>



        </div>


            </div>
          </div>





  </div>
</section>
-->

<!-- section paralelos-->
<!--
<section class="paralelos">
    <a name="eventos-paralelos"></a>
  <div class="container">
    <div class="row">	
      <h2>Eventos Paralelos</h2>
      <p>
        <a href="../mapa.html">
            <img src="../img/stateofthemap_icon.png" alt="ConMapas">
          ConMapas 
        </a>

      <a href="../lab.html">
            <img src="../img/bootcamp_icon.png" alt="Data Bootcamp"> LabConDatos
        </a>
      </p>
    </div>
  </div>
</section> -->


{% include venues.html %}



<!--<img class="mapbox" width="100%" src="../img/mapa.jpg" /> -->



<!-- section asiste-->
<!--
<section class="asiste">
  <div class="container">
    <h2>Asiste a ConDatos</h2>
    <div class="row">
      <div class="col-sm-4 col-sm-offset-4">
        <p class="lead">Asegura tu lugar en la conferencia y sus eventos paralelos. La entrada es gratuita.</p>
      </div>
    </div>	
    <a href="https://docs.google.com/a/vectores.in/forms/d/1MoBsv3PLaFzNTqkdcyNiwJlrY4fOUu5N2-F_wSYz71Y/viewform" target="_blank">REGÍSTRATE AQUÍ</a>

  </div>
</section>
-->

<!-- section aliados-->
<!--
<section class="aliados">
  <div class="container">
    <div class="row">
      <h2>ALIADOS</h2>
      <div class="col-sm-10 col-sm-offset-1 ">
        <ul class="row">
<li><a class="presidencia" href="http://www.presidencia.gob.mx/">Presidencia de la República</a></li>
<li><a class="socialtic" href="http://socialtic.org/">SocialTic</a></li>
        </ul>
                <ul class="row">
									<li><a class="idrc" href="http://www.idrc.ca/EN/Pages/default.aspx">IDRC</a></li>
									<li><a class="avina" href="http://www.avinaamericas.org/">AVINA AMERICAS</a></li>
									<li><a class="ilda" href="http://idatosabiertos.org/">ILDA</a></li>
        </ul>
        <ul class="row">
					<li><a class="logosfooter" href="http://www.conacyt.mx/" target="_blank"><img src="../img/logo_conacyt.png" alt="CONACYT" height="60px"></a></li>
					<li><a class="usaid" href="http://www.usaid.gov">USAID</a></li>
					<li><a class="logosfooter" href="http://www.lenovo.com/mx/es/" target="_blank"><img src="../img/logo_lenovo.png" alt="" height="70px"></a></li>
        </ul>
				 <ul class="row">
					<li><a class="logosfooter" href="https://www.hivos.org/" target="_blank"><img src="../img/Hivos-logo.png" alt="" height="35px"></a></li>
					<li><a class="logosfooter" href="https://www.kionetworks.com/en/" target="_blank"><img src="../img/kio2.png" alt="" height="40px"></a></li>
					<li><a class="logosfooter" href="http://www.microsoft.com/es-mx/default.aspx" target="_blank"><img src="../img/logo_microsoft.png" alt="" height="40px"></a></li>
        </ul>
				 <ul class="row">
					<li><a class="logosfooter" href="http://www.opensocietyfoundations.org/" target="_blank"><img src="../img/Open-Society.png" alt="" height="25px"></a></li>
           <li><a class="bid" href="http://www.iadb.org/es/banco-interamericano-de-desarrollo,2837.html">BID</a><br></li>
					 <li><a class="logosfooter" href="https://okfn.org/" target="_blank"><img src="../img/okfn-logo.png" alt="" height="30px"></a></li>
        </ul>
				<ul class="row">
					<li><a class="logosfooter" href="http://www.ibm.com/mx/es/" target="_blank"><img src="../img/logo_IBM.png" alt="" height="50px"></a></li>
					<li><a class="logosfooter" href="https://www.google.com.mx" target="_blank"><img src="../img/google.png" alt="" height="30px"></a></li>
					 <li><a class="logosfooter" href="http://www2.deloitte.com/mx/es.html" target="_blank"><img src="../img/logo_deloitte.png" alt="" height="40px"></a></li>
        </ul>
								<ul class="row">
					<li><a class="logosfooter" href="http://www.cepal.org/" target="_blank"><img src="../img/logo_cepal.png" alt="" height="60px"></a></li>
					<li><a class="logosfooter" href="http://www.uaemex.mx/" target="_blank"><img src="../img/logo_UAEMX.png" alt="" height="60px"></a></li>
          <li><a class="wbg" href="http://www.worldbank.org">World Bank Group</a></li>
        </ul>
				<ul class="row">
					<li><a class="logosfooter" href="http://theodi.org/" target="_blank"><img src="../img/logo_ODI.png" alt="" height="50px"></a></li>
					<li><a class="logosfooter" href="http://www.itesm.mx/wps/wcm/connect/Campus/MTY/Monterrey/Acerca+del+campus/Campus+Monterrey/Campus+y+escuelas/EGAP+Gobierno+y+Politica+Publica/" target="_blank"><img src="../img/logo_TEC.png" alt="" height="60px"></a></li>
					<li><a class="logosfooter" href="http://www.oas.org/es/" target="_blank"><img src="../img/OAS_logo.png" alt="" height="60px"></a></li>
        </ul>
				<ul class="row">
					<li><a class="logosfooter" href="http://www.applicate.mx/" target="_blank"><img src="../img/logo_applicate.png" alt="" height="50px"></a></li>
					<li><a class="logosfooter" href="http://www.redgealc.net/" target="_blank"><img src="../img/logo_gealc.png" alt="" height="50px"></a></li>
					<li><a class="logosfooter" href="http://centro.edu.mx/CENTRO/" target="_blank"><img src="../img/logo_centro.png" alt="" height="50px"></a></li>
					<li><a class="logosfooter" href="http://www.embajadabritanica.com.mx/" target="_blank"><img src="../img/logo_embajadaB.png" alt="" height="70px"></a></li>

        </ul>






				
				
      </div>

    </div>
  </div>
</section> -->
